.show-transition{
    display: inline-block;
    min-width:2px;
    width:4px;
}
.show-curve{
 	width: 250px;
  height: 250px;
  text-align: center;
  margin: auto;
  display: flex;
}
.show-curve-wrapper, #trans-param-def{
  width:80%;
}