.show-transition{
    display: inline-block;
    
    width:0.55%;
}
.show-curve{
 	width: 250px;
  height: 250px;
  text-align: center;
  margin: auto;
  display: flex;
}
.show-curve-wrapper, #trans-param-def{
  width:80%;
}